[submodule "plugins/welcome"]
	path = plugins/welcome
	url = git://github.com/ProLoser/CakePHP-Welcome.git
[submodule "plugins/upload_pack"]
	path = plugins/upload_pack
	url = git://github.com/josegonzalez/uploadpack.git

