/*** General Settings ***/
* {padding: 0; margin: 0;}
body {
	font-family: Helvetica, Trebuchet MS, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight:normal;
	color: #000000;
}
h1 {
	color: #5A7D0D;
	font-size: 2em;
	line-height: 1.2em;
	font-weight: normal;
}
h2 {
	color: #000000;
	font-size: 1.7em;
	line-height: 1.5em;
}
h3 {
	color: #000000;
	font-size: 1.5em;
	line-height: 1.3em;
	margin-top: 1.5em;
}
a {text-decoration: none; outline: 0px; color: #5A7D0D;}
a:hover { text-decoration: underline; }
a img { border: none; }

/* Tables */
table {
	margin:2em 0;
	width: 100%;
}
table tr td {
	padding:5px 10px;
}
table tr th {
	padding-left:10px;
	text-align:left;
	color:#ffffff;
	height:40px;
	background-color:#5A7D0D;
}
table tr th a {
	color:#ffffff;
}
table .altrow {
	background-color:#C1E07D;
}

/*** General Classes ***/
.light-blue {
	color: #76913A;
}

/*** Layout ***/
#wrapper{
	color: #ffffff;
	min-width: 955px;
}

/* Header */
#header {
}
#header #bar {
	background: #5A7D0D;
min-width:960px;
	overflow: auto;
}
#header #bar ul {
	float: right;
	margin: 15px 10px 10px 10px;
}
#header #bar ul li {
	margin:10px 0 5px 10px;
	display: inline;
}
#header #bar ul li.user {
	font-weight: bold;
}
#header #bar ul li a {
	color:#ffffff;
	font-size:.95em;
}
/* Search Box */
#header #bar form {
	float: right;
	margin: 10px 46px 10px 10px;
}
#header #bar form div {
	display: inline;
}

#header #bar img {
	margin-left:26px;
}

#header #bar form .input input {
	height:22px;
	border:none;
}
#header #bar form .submit input {
	padding: 2px 5px;
	background-color:#ffffff;
	border:1px solid #5A7D0D;
	width:75px;
	height:24px;
	position:relative;
	top:1px;

}

#header h1 {
	margin: 20px 46px;
	height: 125px;
	background: url(../img/procode.jpg) no-repeat left center;
	text-indent: -9999px;
}
#header .reviewCount {
	color:#5A7D0D;
	font-size:2.5em;
	float:right;
	margin:80px 46px 0 0 ;
	text-align:right;
}
#header .reviewCount span {
	color:#B6E05A;
	display:block;
	font-size:.75em;
	margin-top:10px;
}
#header .message {
	background: red;
	margin: 20px;
	padding: 5px;
	font-size: 1.1em;
	text-align: center;
	font-weight: bold;
}
#header #tabs ul {
	overflow: auto;
	margin-left: 326px;
}
#header #tabs li {
	float: left;
	list-style: none;
}
#header #tabs ul li a {
	display: block;
	width: 128px;
	text-align: center;
	height: 20px;
	padding-top: 5px;
	margin: 0 5px;
	color: #5A7D0D;
	background-color: #ffffff;
	font-size:1em;
	border: 1px solid #5A7D0D;
	border-bottom: none;
}
#header #tabs ul li a.current, #header #tabs ul li a:hover {
	color: #ffffff;
	background-color: #5A7D0D;
	text-decoration: none;
}

/* Mid-section Wrapper */
#body {
	overflow: auto;
	border-top: 1px solid #5A7D0D;
	border-bottom: 1px solid #5A7D0D;
	padding: 0 50px;
}

/* Content */
#content {
	margin-top: 50px;
	margin-left: 280px;
	color: #000;
}

/* sidebar */
#sidebar {
	float: left;
	width:240px;
}
#sidebar h3 span {
	color: #5A7D0D;
}
#sidebar ul {
	margin-top: 1em;
	margin-bottom: 1em;
}
#sidebar ul li {
	display: inline;
	margin-right: 5px;
}
#sidebar ul li a {
	font-size: 1.2em;
	line-height: 1.4em;
	color:#5A7D0D;
}

/* footer */
#footer {
	height: 200px;
	color:#5A7D0D;
	width: 960px;
	margin: 20px auto;
}
#footer a {
	color:#5A7D0D;
}
#footer ul {
	margin-top:10px;
}
#footer ul li{
	float: left;
	margin-left:10px;
	width:170px;
	list-style: none;
}
#footer ul li h4 {
	font-weight:bold;
	font-size:1.1em;
	color:#5A7D0D;
}
#footer ul li h4 a{
}
#footer ul li ul li {
	display: block;
	margin-left: 0;
	font-size:1em;
	font-weight:normal;
}

#footer a img {
	border:0px;
}



/*** Forms ***/
#content form {
	margin:2em 0 1em 0;
}

#content form a {
	color:#5A7D0D;
	font-size: .7em;
	margin-left:1em;
}
#content form fieldset {
	border:none;
}
#content form fieldset legend {
	color:black;
	font-weight:bold;
	font-size:1.5em;
	margin-bottom:1em;
}
#content form label {
	color:#5A7D0D;
	padding-right:5px;
	display:inline-block;
	width:141px;
}
#content form input {
	height:20px;
	margin:5px 5px 10px 5px;
	border:#76913A 1px solid;
}
#content form .checkbox input {
	height: auto;
}
#content form input:hover {
	border: #5A7D0D 1px solid;
}
#content form select, #content form textarea{
	border:1px solid #76913A;
	margin:5px 5px 10px 5px;
}
#content form select:hover, #content form textarea:hover {
	border:1px solid #5A7D0D;
}
#content form .select {
	overflow: auto;
}
#content form .select label, #content form .textarea label {
	float: left;
}
#content form .select .checkbox {
	float: left;
}
#content form .select .checkbox label {
	float: none;
}
#content .submit input {
	background-color:#5A7D0D;
	color:white;
	width:100px;
	font-size:.9em;
	margin: 2em 0 0 151px;
	padding-bottom:3px;
}

/*** Review Lists ***/
ul.reviews li {
	overflow: auto;
	height:135px;
	margin-bottom: 20px;
	padding-right: 20px;
	background: no-repeat 85px;
	background-image: url(../img/leftDark.jpg);
	list-style: none;
}
ul.reviews li.closed {
	background-image: url(../img/leftLight.jpg);
}


/* Scorebox */
ul.reviews .scores {
	float: left;
	text-align: center;
	margin-right: 40px;
	width:74px;
	height: 120px;
	color: #fff;
	font-weight: bold;
	font-size: 2.7em;
	line-height: 1.1em;

	background-color: #76913A;
	-moz-box-shadow: #bbbbbb 4px 4px 4px;
	-webkit-box-shadow: #bbbbbb 4px 4px 4px;
      box-shadow: #bbbbbb 4px 4px 4px;
}
ul.reviews .scores span {
	display: block;
	line-height: .9em;
	font-size: .4em;
	font-weight: normal;
}
ul.reviews .scores div {
	background-color: #5A7D0D;
	margin: 7px;
}
ul.reviews h4 {
	color: #5A7D0D;
	font-weight: normal;
	font-size: 1.3em;
	line-height: 1.5em;
	text-decoration: underline;
}


/* userbox */
.userbox {
	font-size: .9em;
	float: right;
}
.userbox a {
	color: #5A7D0D;
}
.userbox span {
	color: #ccc;
}


/*** Common Elements ***/
/* Actions */
.actions {
	margin-top: -40px;
	margin-left: -4px;
	margin-right: -20px;
}
td.actions, th.actions { overflow: visible;}
.actions h3 {
	margin: 0;
	padding: 0;
	display: none;
}
.actions ul {
	overflow: auto;
}
.actions ul li {
	float: left;
	list-style: none;
}
.actions ul li a {
	color:#91C127;
	font-size:.9em;
	display: block;
	width: 128px;
	text-align: center;
	height: 20px;
	padding-top: 5px;
	margin: 0 5px;
	background-color: #ffffff;
	font-size:1em;
	border: 1px solid #91C127;

}
.actions ul li a.current, .actions ul li a:hover {
	color: #ffffff;
	background-color: #91C127;
	text-decoration: none;
}


/* Users */
#content img {
	float: right;
	border: 5px solid #5A7D0D;
}

#content h3 {
font-size:2em;
margin-bottom:.5em;
}

#content dl {
margin-bottom:2em;
}

#content h4 {
font-size:1.5em;
margin-bottom:.5em;
}

#content dl dt {
color:#5A7D0D;
margin-bottom:.3em;
}

#content dl dd {
margin-bottom:1em;
}

/* Filters */
ul.filters {
	margin-right: 40px;
	margin-bottom: 20px;
}
ul.filters li {
	display: inline;
	color: #000000;
}
ul.filters li a {
	color: #5A7D0D;
}
ul.filters li a.current {
	color: #000000;
	text-decoration: underline;
}


/* Paging */
.paging {
	margin-right: 40px;
	margin-top: 20px;
	margin-left: 2px;
}
.paging span {
	display:inline-block;
	color:#ffffff;
	padding: 2px 5px;
	border: 1px solid #5A7D0D;
	text-align: center;
	background-color:#5A7D0D;
	margin:1em 0;
}
.paging a {
	color:#ffffff;
}
.paging .current {
	background-color: #91C127;
}
.paging .disabled {
	background-color: #76913A;
}

/* Ranks */
.ranks dl, .faq dl {
	margin:2em 0 5em 0;
}
.ranks dl dt, .faq dl dt {
	font-size:2em;
	color:#5A7D0D;
	margin-bottom:.5em;
	background-color:#ffffff;
}
.ranks dl dt a, .faq dl dt a {
	color:#5A7D0D;
	margin-right:1em;
}
.ranks dl dd, .faq dl dd {
	display:block;
	margin-bottom:3em;
	font-size:1em;
	width:600px;
}

/* Reviews */
ol.ui-selectable {
	margin: 20px;
}

/* adbox */
.adbox {
	color: #ffffff;
	text-align: center;
	width: 230px;
	height: 290px;
	padding-top: 100px;
	border: 5px solid #bdbdbd;
	background-color: #dddddd;
	margin-bottom: 10px;
}


/* buttons */
.thumbsUp, .thumbsDown, .remove, .star, .listAll, .hideList, .subscribe {
	display:block;
	float:right;
	width:20px;
	height:20px;
	margin:5px;
	text-indent:-9999px;
}
/*.next {
background-image: url(../img/next.png);
}
.previous {
background-image: url(../img/previous.png);
}*/
.thumbsDown {
background-image: url(../img/thumbsDown.png);
}
.thumbsUp {
background-image: url(../img/thumbsUp.png);
}
.remove {
background-image: url(../img/remove.png);
}
.star {
background-image: url(../img/star.png);
}
.listAll {
background-image: url(../img/listAll.png);
}
.hideList {
background-image: url(../img/hideList.png);
}
.subscribe {
background-image: url(../img/subscribe.png);
}

/*** View Source ***/
.sources.view h3 {
font-size:2em;
margin-bottom:.5em;
}
.sources.view p {
margin-bottom:1em;
}
.php .head {
display:block;
width:100%;
height:12px;
padding:10px;
background-color:#5A7D0D;
}
/* sideComments */
#sideComments ul li{
	display: block;
	list-style: none;
	color: #000;
	border-bottom: dashed 1px #91C127;
	padding: 10px;
	margin: 0 -10px;
}
#sideComments ul li .top, #sideComments ul li .content, #sideComments ul li .bottom {
	overflow: auto;
}
#sideComments ul li .top span {
	float: right;
	font-weight: bold;
}
#sideComments .highlighted {
	background: #FECA40;
}
/* GeSHi */
#geshi {
	background-color:#91C127;
	overflow:auto;
}
#geshi ol {
	margin: 20px 0;
	background-color:#ffffff;
	margin: 0 0 0 50px; /*--Distance between the order numbers--*/
}
#geshi ol li {
	margin: 0;
	padding-left:5px;
	color: #000000;
	font-size: 1em;
}

.li2 {
background-color:#eeeeee;
}


.cake-sql-log {clear: both; margin: 10px auto;}
.cake-sql-log td, .cake-sql-log th  { margin: 2px;}

