/*** General Settings ***/
* {padding: 0; margin: 0;}
body {
	font-family: Helvetica, Trebuchet MS, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight:normal;
	color: #000000;
}
h1 {
	color: #215D84;
	font-size: 2em;
	line-height: 1.2em;
	font-weight: normal;
}
h2 {
	color: #000000;
	font-size: 1.7em;
	line-height: 1.5em;

}
h3 {
	color: #000000;
	font-size: 1.5em;
	line-height: 1.3em;
	margin-top: 1.5em;

}
a {text-decoration: none; outline: 0px;}
a:hover { text-decoration: underline; }
a img { border: none; }

/*** General Classes ***/
.light-blue {
	color: #5f8298;
}

/*** Layout ***/
#wrapper{
	color: #ffffff;
	min-width: 955px;
}

/* Header */
#header {
}
#header #bar {
	background: #215d84;
	overflow: auto;
}
#header #bar ul {
	float: right;
	margin: 15px 10px 10px 10px;
}
#header #bar ul li {
	margin:10px 20px 5px 0;
	display: inline;
}
#header #bar ul li a {
	color:#ffffff;
	font-size:1em;
}
/* Search Box */
#header #bar form {
	float: right;
	margin: 10px;
}
#header #bar form div {
	display: inline;
}
#header #bar form .input input {
	height:18px;
}
#header #bar form .submit input {
	padding: 2px 5px;
}

#header h1 {
	margin: 10px 0 10px 46px;
	width: 400px;
	height: 125px;
	background: url(../img/procode.jpg) no-repeat;
	text-indent: -9999px;
}
#header .message {
	background: red;
	margin: 20px;
	padding: 5px;
	font-size: 1.1em;
	text-align: center;
	font-weight: bold;
}
#header #tabs ul {
	overflow: auto;
	margin-left: 45px;
}
#header #tabs li {
	float: left;
	list-style: none;
}
#header #tabs ul li a {
	display: block;
	width: 128px;
	text-align: center;
	height: 20px;
	padding-top: 5px;
	margin: 0 10px;
	color: #215d84;
	background-color: #ffffff;
	font-size:1em;
	border: 1px solid #215d84;
	border-bottom: none;
}
#header #tabs ul li a.current, #header #tabs ul li a:hover {
	color: #ffffff;
	background-color: #215d84;
	text-decoration: none;
}

/* Mid-section Wrapper */
#body {
	overflow: auto;
	border-top: 1px solid #215d84;
	border-bottom: 1px solid #215d84;
	padding: 0 50px;
}

/* Content */
#content {
	margin-top: 40px;
	margin-right: 260px;
	color: #000;
}

#content form {
margin-left:54px;
width:500px;

}

#content form fieldset {
border:none;

}

#content form fieldset legend {
color:black;
font-weight:bold;
font-size:1.5em;
margin-bottom:1em;

}

#content form label {
color:#215D84;
padding-right:5px;
display:inline-block;
width:141px;
}

#content form input {
height:20px;
margin:5px 5px 10px 5px;
border:#5f8298 1px solid;
}

#content form input:hover {
border: #215D84 1px solid;

}

#content form select{
border:1px solid #5f8298;
margin-left:5px;
}

#content form select:hover{
border:1px solid #215b84;

}

#content form a {
color:#215D84;
font-size: .7em;
margin-left:1em;
}

#content .submit input {
background-color:#215D84;
color:white;
width:100px;
font-size:.9em;
margin: 2em 0 0 151px;
padding-bottom:3px

}

#content .actions ul {
list-style:none;
margin: 1em 0 0 54px;
}

#content .actions ul li {
margin-top:.2em;
}

#content .actions ul li a {
color:#215b84;
font-size:.9em;
}




/* sidebar */
#sidebar {
	float: right;
	width:240px;
}
#sidebar h3 span {
	color: #215b84;
}
#sidebar ul {
	margin-top: 1em;
	margin-bottom: 1em;
}
#sidebar ul li {
	display: inline;
	margin-right: 5px;
}
#sidebar ul li a {
	font-size: 1.2em;
	line-height: 1.4em;
	color:#215D84;
}

/* footer */
#footer {
	height: 200px;
	color:#215D84;
	width: 960px;
	margin: 20px auto;
}
#footer a {
	color:#215D84;
}
#footer ul {
	margin-top:10px;
}
#footer ul li{
	float: left;
	margin-left:10px;
	width:170px;
	list-style: none;
}
#footer ul li h4 {
	font-weight:bold;
	font-size:1.1em;
	color:#215D84;
}
#footer ul li h4 a{
}
#footer ul li ul li {
	display: block;
	margin-left: 0;
	font-size:1em;
	font-weight:normal;
}

#footer a img {
border:0px;
}


/*** Common Elements ***/
/* Filters */
ul.filters {
	position: relative;
	float: right;
	margin-right: 40px;
	margin-bottom: 20px;
}
ul.filters li {
	display: inline;
	color: #000000;
}
ul.filters li a {
	color: #215D84;
}
ul.filters li a.current {
	color: #000000;
	text-decoration: underline;
}

/* Pagination */
.pagination {
	position: relative;
	float: right;
	margin-right: 40px;
	margin-top: 20px;
}
.pagination li {
	display: block;
	float: left;
	border: 1px solid #215D84;
	width: 25px;
	height: 28px;
	padding-top: 12px;
	text-align: center;
	margin-right: 2px;
}
.pagination li a {
	color: #215D84;
	font-size: 1.3em;
	font-weight: normal;
	margin-left: 2px;
}
.pagination li:hover, .pagination li:hover a, .pagination li.current a, .pagination li.current {
	background-color: #215D84;
	color:#ffffff;
}

/* Ranks */
.ranks dl, .faq dl {
	margin:2em 0 5em 0;
}
.ranks dl dt, .faq dl dt {
	font-size:2em;
	color:#000000;
	margin-bottom:10px;
}
.ranks dl dt a, .faq dl dt a {
	color:#215b84;
	margin-right:1em;
}
.ranks dl dd, .faq dl dd {
	display:block;
	margin-bottom:2em;
	font-size:1em;
}

/* Reviews */
.post-numbers, .reviews-number, .votes-number, .number-of-reviews, .reviews1, .votes1, .number-of-votes {
	color: #ffffff;
	display: block;
	position: relative;
	float: left;
	text-align: center;
}
.post-numbers {
	margin-left:20px;
	margin-right: 5px;
	width:74px;
	height: 125px;
	background-color: #5F8298;
	-moz-box-shadow: #bbbbbb 4px 4px 4px;
	-webkit-box-shadow: #bbbbbb 4px 4px 4px;
      box-shadow: #bbbbbb 4px 4px 4px;
}
.reviews-number {
	margin: 7px 7px 0 7px;
	display: block;
	height: 55px;
	width: 60px;
}
.votes-number {
	margin: 0 7px 7px 7px;
	display: block;
	height: 55px;
	width: 60px;
	background-color: #215d84;
}
.number-of-reviews {
	font-size: 2.7em;
	line-height: 1.1em;
	width: 60px;
	font-weight: bold;
}
.reviews1 {
	font-size: 1em;
	line-height: 1em;
	width: 60px;
	margin-top: -3px;
	font-weight: normal;
}
.votes1{
	font-size: 1em;
	line-height: 1em;
	width: 60px;
	margin-top: 3px;
	font-weight: normal;
}
.number-of-votes {
	font-size: 2.7em;
	line-height: 1em;
	width: 60px;
	font-weight: bold;
}
/* Posts */
.post {
	position:relative;
	float:left;
	width:674px;
	height:130px;
	margin-bottom: 20px;
}
.post-content {
	position: relative;
	float: left;
	width: 575px;
	height: 130px;
}
.post-content h1 {
	color: #215D84;
	font-size: 1.5em;
	text-decoration: underline;
	margin-bottom: 5px;
}
.post-content p {
	width:518px;
	height: 54px;
	overflow: hidden;
	color: #000000;
}
.post-subject {
	margin-left: 30px;
	color: #215D84;
	font-size: 1.5em;
	line-height: 1.2em;
	width: 518px;
	text-decoration: underline;
}
.post-summary {
	margin-left: 30px;
	margin-top: 5px;
	color:  #000000;
	line-height:1.2em;
	width: 518px;
}
.tags1 {
	color: #215d84;
	font-size: .9em;
	position: absolute;
	bottom: 10px;
	left: 30px;
}
/* userbox */
ul.userbox {
	color:#215d84;
	font-size: .9em;
	position: absolute;
	right: 30px;
	bottom: 10px;
}
ul.userbox li {
	color: #000000;
	display: inline;
}
ul.userbox li a {
	color: #215d84;

}
.unanswered {
	background-image: url(../img/post_unanswered.jpg);
}
.answered {
	background-image: url(../img/post_answered.jpg);
}
.adbox {
	color: #ffffff;
	text-align: center;
	width: 230px;
	height: 290px;
	padding-top: 100px;
	border: 5px solid #bdbdbd;
	background-color: #dddddd;
	margin-bottom: 10px;
}

.cake-sql-log {clear: both; margin: 10px auto;}
.cake-sql-log td, .cake-sql-log th  { margin: 2px;}

